extends layout

block content
	.menu
		ul.nav.nav-tabs
			li.active
				a(href="/") Home
			li
				a(href="/tasks") Tasks
			li
				a(href="/tasks/completed") Completed
	.homepage
		p(class="lead").
			Welcome to the TaskLess manager.
			

