doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/bootstrap/bootstrap.css")
		link(rel="stylesheet",href="/stylesheets/custom.css")

	body
		.container
			.alert.alert-dismissable
			.header
				h1=header
			block content
		script(src="/javascripts/jquery-1.11.0.min.js")
		script(src="/javascripts/script.js")
